.admin-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 80vh;
}

.admin-header {
    margin-bottom: 2rem;
    text-align: center;
}

.admin-header h1 {
    color: #e74c3c; /* Rouge Admin */
    margin-bottom: 1.5rem;
}

.admin-tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.admin-tabs button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    background: #eee;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s;
}

.admin-tabs button.active {
    background: #34495e;
    color: black;
    font-weight: bold;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.admin-msg {
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: black;
}
.admin-msg.success { background: #d4edda; color: #155724; }

/* Submissions Cards */
.submissions-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}
h3{
    color:black;
}

.submission-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border-left: 5px solid #f1c40f; /* Jaune Attente */
}

.sub-info h3 {
    margin-top: 0;
    color: #2c3e50;
}

.score-display {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2980b9;
}

.video-link {
    display: inline-block;
    margin: 0.5rem 0;
    color: #e67e22;
    text-decoration: none;
    font-weight: bold;
}

.sub-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-validate, .btn-refuse {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.btn-validate { background-color: #27ae60; }
.btn-validate:hover { background-color: #219150; }

.btn-refuse { background-color: #c0392b; }
.btn-refuse:hover { background-color: #a93226; }


/* Table Users */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    color: #2c3e50;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.admin-table th, .admin-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.admin-table th {
    background-color: #34495e;
    color: black;
}

.badge-role {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.badge-role.admin { background: #8e44ad; color: white; }
.badge-role.utilisateur { background: #95a5a6; color: white; }

.btn-ban {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    cursor: pointer;
}
.btn-ban:hover { background: #c0392b; }

.empty {
    text-align: center;
    color: #7f8c8d;
    font-style: italic;
    grid-column: 1 / -1;
}
