.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,700 L 0,175 C 138.17857142857144,160.78571428571428 276.3571428571429,146.57142857142858 404,158 C 531.6428571428571,169.42857142857142 648.7499999999999,206.5 754,198 C 859.2500000000001,189.5 952.6428571428573,135.42857142857142 1065,124 C 1177.3571428571427,112.57142857142858 1308.6785714285713,143.78571428571428 1440,175 L 1440,700 L 0,700 Z");
    }

    25% {
        d: path("M 0,700 L 0,175 C 118.85714285714286,200.60714285714286 237.71428571428572,226.21428571428572 365,211 C 492.2857142857143,195.78571428571428 628.0000000000001,139.75 749,118 C 869.9999999999999,96.25 976.2857142857142,108.78571428571428 1089,124 C 1201.7142857142858,139.21428571428572 1320.857142857143,157.10714285714286 1440,175 L 1440,700 L 0,700 Z");
    }

    50% {
        d: path("M 0,700 L 0,175 C 95.5,181.57142857142856 191,188.14285714285714 303,192 C 415,195.85714285714286 543.5000000000001,196.99999999999997 668,171 C 792.4999999999999,145.00000000000003 913,91.85714285714288 1041,88 C 1169,84.14285714285712 1304.5,129.57142857142856 1440,175 L 1440,700 L 0,700 Z");
    }

    75% {
        d: path("M 0,700 L 0,175 C 144.85714285714283,169.75 289.71428571428567,164.5 414,157 C 538.2857142857143,149.5 642,139.75 742,143 C 842,146.25 938.2857142857144,162.5 1054,170 C 1169.7142857142856,177.5 1304.8571428571427,176.25 1440,175 L 1440,700 L 0,700 Z");
    }

    100% {
        d: path("M 0,700 L 0,175 C 138.17857142857144,160.78571428571428 276.3571428571429,146.57142857142858 404,158 C 531.6428571428571,169.42857142857142 648.7499999999999,206.5 754,198 C 859.2500000000001,189.5 952.6428571428573,135.42857142857142 1065,124 C 1177.3571428571427,112.57142857142858 1308.6785714285713,143.78571428571428 1440,175 L 1440,700 L 0,700 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,700 L 0,408 C 114.42857142857142,443.17857142857144 228.85714285714283,478.35714285714283 337,474 C 445.14285714285717,469.64285714285717 547,425.75000000000006 663,419 C 779,412.24999999999994 909.1428571428571,442.6428571428571 1041,447 C 1172.857142857143,451.3571428571429 1306.4285714285716,429.67857142857144 1440,408 L 1440,700 L 0,700 Z");
    }

    25% {
        d: path("M 0,700 L 0,408 C 94.82142857142858,429.5 189.64285714285717,451 300,458 C 410.35714285714283,465 536.2499999999999,457.50000000000006 685,447 C 833.7500000000001,436.49999999999994 1005.3571428571429,423 1135,416 C 1264.642857142857,409 1352.3214285714284,408.5 1440,408 L 1440,700 L 0,700 Z");
    }

    50% {
        d: path("M 0,700 L 0,408 C 107.67857142857142,399.3571428571429 215.35714285714283,390.7142857142857 350,396 C 484.64285714285717,401.2857142857143 646.2500000000001,420.50000000000006 783,425 C 919.7499999999999,429.49999999999994 1031.642857142857,419.2857142857143 1137,414 C 1242.357142857143,408.7142857142857 1341.1785714285716,408.3571428571429 1440,408 L 1440,700 L 0,700 Z");
    }

    75% {
        d: path("M 0,700 L 0,408 C 147.96428571428572,391.67857142857144 295.92857142857144,375.35714285714283 416,358 C 536.0714285714286,340.64285714285717 628.2500000000001,322.25000000000006 739,345 C 849.7499999999999,367.74999999999994 979.0714285714287,431.64285714285717 1099,449 C 1218.9285714285713,466.35714285714283 1329.4642857142858,437.17857142857144 1440,408 L 1440,700 L 0,700 Z");
    }

    100% {
        d: path("M 0,700 L 0,408 C 114.42857142857142,443.17857142857144 228.85714285714283,478.35714285714283 337,474 C 445.14285714285717,469.64285714285717 547,425.75000000000006 663,419 C 779,412.24999999999994 909.1428571428571,442.6428571428571 1041,447 C 1172.857142857143,451.3571428571429 1306.4285714285716,429.67857142857144 1440,408 L 1440,700 L 0,700 Z");
    }
}